
.postContainer{
    width:240px;
    height: 400px;
    overflow: auto;
    background-color: rgb(217, 215, 215);
    margin:  10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.postTitle{
    width: 220px;
    height:50px;
    /* background-color: aqua; */
    overflow: auto;
    font-family: monospace;
    font-size: 10px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px dashed gold; */
}

.postImg{
    width: 220px;
    margin-top: 5px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px dashed red; */
    text-align: justify;
}

.postImg > img{

    max-width: 220px;
    border-radius: 10px;
    max-height: 300px;
}

.postDesc{
    /* border: 2px dashed green; */
    margin-top: 5px;
    width:220px;
    height: 100px;
    overflow: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    padding:5px;
    
}
.button{
    width: 220px;
    margin-top: 5px;
    /* border: 2px dashed goldenrod; */
    display: flex;
    justify-content: space-around;
    gap: 1rem;

}
.button > button{
    margin-top: 5px;
    font-size: 16px;
    padding:10px;
    border-radius: 5px;
    border: none;
    background-color: antiquewhite;
    font-weight: bold;
    font-family: monospace;

}

.button > button:hover{
scale: 1.05;
}

